* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova"),
       url('../fonts/proximanova_regular.ttf')
}

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova Bold"),
       url('../fonts/ProximaNova-Semibold.ttf')
}


.card {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .card__container {
    width: 100%;
    max-width: 768px;
    min-height: 354px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 0 2px;

    @media screen and (max-width: 744px) {
      width: 100%;
      max-width: 350px;
    }

    .card__header {
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      margin-top: 22px;
      margin-bottom: 22px;
      padding-bottom: 22px;
      display: flex;
      height: 66px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 744px) {
        width: 100%;
        max-width: 320px;
        margin-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 18px;
        height: 54px;
      }

      .card__header__block {
        display: flex;

        @media screen and (max-width:744px) {
          width: 100%;
          &.s {
            display: none;
          }
        }
      }

        .block__img {
          height: 32px;
          width: 32px;
          border-radius: 50%;
          margin-right: 12px;
        }

        &.s {
          width: 368px;
          justify-content: space-between;
        }

        .text__name {
          font-family: 'Proxima Nova Bold', sans-serif;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.8);
        }

        .text__stat {
          font-family: 'Proxima Nova', sans-serif;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.4);

          @media screen and (max-width: 744px) {
            display: none;
          }
        }

        .stats__mobile {
          display: none;

          @media screen and (max-width: 744px) {
            display: flex;
            width: 165px;
            justify-content: space-between;

            &.s {
              display: flex;
              flex-direction: column;
              align-items: end;
            }
          }
        }
      }

        .block__stat {
          display: flex;
          flex-direction: column;
          width: 64px;
          height: 40px;
          justify-content: space-between;
        }
          .block__stat__text {
            font-family: 'Proxima Nova', sans-serif;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.8);
            height: 17px;

            @media screen and (max-width: 744px) {
              font-size: 14px;
            }
            &.bold {
              font-family: 'Proxima Nova Bold', sans-serif;
              font-size: 14px;
            }

            &.green {
              color: rgba(98, 180, 53, 1);
            }

            &.red {
              color: rgba(246, 71, 71, 1);
            }

            &.neutral {
              color:rgba(0, 0, 0, 0.4);
            }

          }
          hr {
            border: none;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
          }
    }

    .card__text {
      width: 100%;
      max-width: 720px;
      margin: 0 auto;
      height: 125px;
      transition: height 0.4s ease-in-out;
      overflow: hidden;

      @media screen and (max-width: 744px) {
        width: 100%;
        max-width: 320px;

        &.active {
          height: 410px !important;
        }
      }
      
      &.active{
        height: 170px;
      }

      .card__text__p {
        font-size: 16px;
        line-height: 24px;
        color:rgba(0, 0, 0, 0.6);
        font-family: 'Proxima Nova', sans-serif;
      }
  

    }

    .gradient {
      background: linear-gradient(rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
      width: 100%;
      height: 16px;
      margin-top: -25px;

      &.active {
        background: none;
      }
    }

    .card__toggle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: -14px;
      position: relative;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.08);
      transition: transform ease-in-out 0.4s;
      padding-top: 5px;
      bottom: -8px;
      &.active {
        transform: rotate(-180deg);
      }
      &:hover {
        cursor: pointer;
      }
    }

    .card__forecast {
      background-color:rgba(240, 241, 242, 0.4);
      height: 90px;
      border-left: 2px solid rgba(52, 152, 219, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 22px;

      @media screen and (max-width: 744px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 146px;
        justify-content: space-around;
      }
      .forecast__button__mobile {
        display: none;

        @media screen and (max-width: 744px) {
          display: flex;
          width: 320px;
          height: 40px;
          background-color: rgba(52, 152, 219, 1);
          font-family: 'Proxima Nova Bold', sans-serif;
          color: rgba(255, 255, 255, 1);
          font-size: 14px;
          border-radius: 4px;
          border: none;
          line-height: 16px;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .card__forecast__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 720px;
        height: 42px;

        @media screen and (max-width: 744px) {
          width: 100%;
          max-width: 320px;
          height: 58px;
          align-items: end;
        }


        .forecast__block {
          display: flex;
          flex-direction: column;

          &.row {
            flex-direction: row;
          }

          .block__text {
            color: rgba(0, 0, 0, 0.4);
            font-size: 12px;
            text-transform: uppercase;
            font-family: 'Proxima Nova Bold', sans-serif;
          }

          .block__textB {
            color: rgba(0, 0, 0, 0.8);
            font-size: 18px;
            font-family: 'Proxima Nova Bold', sans-serif;

            @media screen and (max-width: 744px) {
              font-size: 16px;
              margin-top: 8px;
            }
          }

          .forecast__img {
            margin-top: 4px;
            width: 32px;
            height: 32px;
          }

          .forecast__button {
            width: 140px;
            height: 40px;
            background-color: rgba(52, 152, 219, 1);
            font-family: 'Proxima Nova Bold', sans-serif;
            color: rgba(255, 255, 255, 1);
            font-size: 14px;
            border-radius: 8px;
            border: none;
            line-height: 16px;
            margin-left: 26px;

            &:hover {
              cursor: pointer;
            }

            @media screen and (max-width: 744px) {
              display: none;
            }
          }

          .forecast__sblock {
            margin-left: 12px;

            .sblock__text, .sblock__text__mobile {
              font-size: 12px;
              font-family: 'Proxima Nova', sans-serif;
              color: rgba(51, 51, 51, 1);

            }
            .sblock__text__mobile {
              display: none;
            }

            @media screen and (max-width: 744px) {
              .sblock__text {
                display: none;
              }

              .sblock__text__mobile {
                display: block;
              }
            }

            .sblock__textB {
              font-family: 'Proxima Nova Bold', sans-serif;
              font-size: 20px;
              color: rgba(0, 0, 0, 0.8);
            }
          }
        }
      }
    }
  }


